.battles {
  background-color: $primaryColor;
  min-height: 985px;

  @include tablets {
    min-height: 1015px;
  }

  @include big-mobile {
    min-height: 652px;
  }

  &__header {
    @include regular-font(600);
    font-size: 70px;
    line-height: 0.9;
    color: $secondaryColor;
    margin: 0;
    padding: 80px 0 40px 160px;

    @include tablets {
      padding: 50px 0 40px 50px;
    }

    @include big-mobile {
      font-size: 40px;
      padding: 20px;
      text-align: center;
    }

    @include mobile {
      font-size: 40px;
      padding: 20px;
      text-align: left;
    }
  }

  &__desc {
    @include regular-font;
    font-size: 20px;
    line-height: 1.3;
    color: $secondaryColor;
    margin: 0;

    padding: 0px 0 110px 160px;
    width: 500px;

    @include tablets {
      padding: 0px 0 140px 50px;
      width: 500px;
    }

    @include big-mobile {
      font-size: 12px;
      padding: 0 20px 20px 20px;
      width: 280px;
      text-align: center;
      margin: 0 auto;
    }

    @include mobile {
      font-size: 12px;
      padding: 0 20px 60px 20px;
      width: 280px;
      text-align: left;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    column-gap: 80px;
    list-style-type: none;
    margin: 0 auto 74px 160px;
    padding: 0;
    overflow: hidden;

    @include tablets {
      margin: 0 auto 104px 50px;
      column-gap: 28px;
    }

    @include big-mobile {
      display: none;
    }
  }

  &__figures {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-content: space-between;
    margin: 74px 160px 0 100px;
    column-gap: 50px;
    overflow: hidden;

    @include tablets {
      margin: 0 50px 0 0;
    }

    @include big-mobile {
      margin: 0 20px 20px 20px;
      column-gap: 0;
      grid-template-columns: 1fr;
    }

    @include mobile {
      margin: 0 20px 20px 20px;
    }
  }

  &__circle {
    background-image: url(../images/half-circle.png);
    width: 440px;
    height: 220px;

    @include tablets {
      width: 220px;
      height: 220px;
      background-position: right;
    }

    @include big-mobile {
      display: none;
    }
  }

  &__chess {
    background-image: url(../images/table_green.png);
    width: 416px;
    height: 104px;
    align-self: center;

    @include big-mobile {
      width: 280px;
      height: 70px;
      background-size: contain;
      margin: 0 auto;
    }

    @include mobile {
      width: 280px;
      height: 70px;
      background-size: contain;
    }
  }
}
