$primaryColor: black;
$secondaryColor: #ffffff;
$tertiaryColor: #009465;
$quaternaryColor: #5036E6;

$copyrightColor: #8E9199;
$formColor: #1A1A1A;
$borderFormColor: #5036E6;
$formColorHover: rgba(26, 26, 26, 0.6);
$darkButton: #066C4C;
